/* body {
    background-color: #FAF0E6;
}

#global-new-tweet-button {
    background-color: #BC8F8F;
    border-color: transparent;
}

#global-new-tweet-button:hover {
    background-color: #CD5C5C;
    border-color: transparent;
}

.EdgeButton, .EdgeButton:visited {
    border-radius: 5px;
}

button.follow-text {
    border-color: #BC8F8F;
    color: #BC8F8F;
}

button.follow-text:hover {
    background-color: #FAF0E6;
    border-color: #BC8F8F;
    color: #BC8F8F;
} 

a, .btn-link, .btn-link:focus, .icon-btn, .pretty-link b, .pretty-link:hover s, .pretty-link:hover b, .pretty-link:focus s, .pretty-link:focus b, .metadata a:hover, .metadata a:focus, a.account-group:hover .fullname, a.account-group:focus .fullname, .account-summary:focus .fullname, .message .message-text a, .message .message-text button, .stats a strong, .plain-btn:hover, .plain-btn:focus, .dropdown.open .user-dropdown.plain-btn, .open > .plain-btn, #global-actions .new:before, .module .list-link:hover, .module .list-link:focus, .stats a:hover, .stats a:hover strong, .stats a:focus, .stats a:focus strong, .find-friends-sources li:hover .source, .stream-item a:hover .fullname, .stream-item a:focus .fullname, .stream-item .view-all-supplements:hover, .stream-item .view-all-supplements:focus, .tweet .time a:hover, .tweet .time a:focus, .tweet .details.with-icn b, .tweet .details.with-icn .Icon, .stream-item:hover .original-tweet .details b, .stream-item .original-tweet.focus .details b, .stream-item.open .original-tweet .details b, .client-and-actions a:hover, .client-and-actions a:focus, .dismiss-btn:hover b, .tweet .context .pretty-link:hover s, .tweet .context .pretty-link:hover b, .tweet .context .pretty-link:focus s, .tweet .context .pretty-link:focus b, .list .username a:hover, .list .username a:focus, .list-membership-container .create-a-list, .list-membership-container .create-a-list:hover, .new-tweets-bar, .card .list-details a:hover, .card .list-details a:focus, .card .card-body:hover .attribution, .card .card-body .attribution:focus {
    color: #BC8F8F;
}
.u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:hover .ProfileTweet-actionCount, .u-textUserColorHover:focus {
    color: #BC8F8F !important;
} */

.cap-santa {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 10px;
    z-index: 100;
}

@media (min-width: 1235px) {
    /* #page-container {
        width: 98%;
    } */
    #timeline {
        float: left;
        width: 1210px;
    }
    div.conversations-enabled div.stream ol#stream-items-id {
        width: 100%;
    }
    div.conversations-enabled div.stream ol#stream-items-id li {
        display: inline-block;
        width: 590px;
        border-radius: 15px;
        margin: 5px 5px;

        vertical-align: middle;
        /* height: 500px; */
        /* overflow: scroll; */
    }

    .DashboardProfileCard, .module.Trends.trends, .dashboard {
        display: none;
    }
}